---
import ToggleThemeWidget from "@/components/widgets/ToggleThemeWidget";
import Maped30DayRoutes from "@/components/widgets/Maped30DayRoutes.tsx";
---
<div class="bg-base-200 w-full flex items-center justify-center">
  <header class="navbar  max-w-5xl ">
      <div class="navbar-start ">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
          </label>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>Home</a></li>
  
              <a href="/">30 Days</a>
              <Maped30DayRoutes />
            </li>
            <li><a>Item 3</a></li>
          </ul>
        </div>
        <a class="btn btn-ghost normal-case text-xl  font-bold" href="/">
          <img src="/favicon.svg" class="w-8"/>
          30Day JS</a>
      </div>
      <nav class="navbar-center hidden lg:flex ">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/">Home</a></li>
          <li tabindex="0">
            <details >
              <summary><a href="/30days">30 Days</a></summary>
              <Maped30DayRoutes />
            </details>
          </li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
      <div class="navbar-end ">
        <ToggleThemeWidget />
      </div>
    </header>
</div>

<script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>