---
import '@/assets/styles/globals.css'
import Drawer from '@/components/layouts/Drawer.astro'

// import prop acctive link
const ActiveLink = Astro.props
---

<html lang="en" data-theme="dark" >
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="">
        <Drawer ActiveLink={ActiveLink}> 
			<main class="min-h-screen w-full md:flex-1 flex flex-col items-center pt-10 max-w-4xl  "><slot /></main>       
    	</Drawer>
	</body>

</html>
